@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: theme("colors.base");
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.white-dim");
  border-radius: 10px;
  border: 5px solid theme("colors.base");
}

/* Tailwind typography styling */
.prose em {
  color: theme("colors.white-dim");
}

.prose h1::before {
  content: "# ";
  color: theme("colors.main");
}

.prose h2::before {
  content: "## ";
  color: theme("colors.cli-magenta");
}

.prose h2 {
  margin-bottom: 0.2rem;
}

.prose a {
  color: theme("colors.cli-green");
}

/* Used for code blocks to position code copy button*/
pre {
  position: relative;
}
